{% extends 'CoreBundle:Default:index.html.twig' %}

{% block meta %}
    <meta name="description" content="Présentation et modification du client" />
    <meta name="keywords" content="{{ client.nomClt }}, modification, modifier" />
{% endblock %}

{% block title %}
  {{ client.nomClt }}
{% endblock %}

{% block stylesheet %}
    <!-- DataTables -->
    <link rel="stylesheet" href="/backend/v2/plugins/datatables/dataTables.bootstrap.css" />
{% endblock %}

{% block body %}

  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          Informations sur {{ client.nomClt }}
      </h1>
      <ol class="breadcrumb">
          <li>
              <a href="{{ path('core_homepage') }}">
                  <i class="fa fa-desktop"></i> Tableau de bord
              </a>
          </li>
          <li>
              <a href="{{ path('core_client') }}">
                  <i class="fa fa-desktop"></i> Clients
              </a>
          </li>
          <li class="active">
              <i class="fa fa-money"></i> {{ client.nomClt }}
          </li>
      </ol>
  </section>

  <!-- Main content -->
  <section class="content">
      
      <!-- Default box -->
      <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">
                  <i class="fa fa-institution"></i> {{ client.nomClt }}
              </h3>
              <div class="box-tools pull-right">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-cog"></i>
                  </button>
                  <ul class="dropdown-menu slidedown">
                      <li>
                          <a href="#" class="text-orange" data-toggle="modal" data-target=".bs-modClt">
                              <i class="fa fa-pencil-square fa-fw"></i> Modifier le client
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-print fa-fw"></i> Imprimer
                          </a>
                      </li>
                  </ul>
              </div>  
          </div>
          <div class="box-body">

              <h4>Liste des commandes</h4>            
              <table id="dataTable-cmd" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Date</th>
                          <th>Statut</th>
                          <th>Raison</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for client in clients %}       
                          <tr>
                              <td>183</td>
                              <td>11-7-2014</td>
                              <td>
                                  {% if etatCmd != 'A' and etatCmd != 'N' %}
                                      <span class="label label-success">Approuvé</span>
                                  {% else %}
                                      {% if etatCmd != 'A' %}
                                          <span class="label label-warning">En attente</span>
                                      {% else %}
                                          <span class="label label-danger">Annulé</span>
                                      {% endif %}
                                  {% endif %}
                              </td>
                              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                              <td class="tooltip-cmd">
                                  <a href="{{ path('core_trans_view') }}" class="btn btn-warning">
                                      Voir plus</a>
                              </td>
                          </tr>
                      {% endfor %}

                  </tbody>

              </table>
          </div>
          <!-- /.box-body -->
      </div>
      <!-- /.box -->
  </section>
  <!-- /.content -->

  <!-- Modal de modification d'un produit -->
    <div class="modal fade bs-modClt modal-warning">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-pencil"></span> Modifier le client
                    </h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        {{ form_errors(form) }}

                            <div class="form-group">
                                {{ form_label(form.nomClt, "Dénomination", {'label_attr': {'class': 'col-sm-2 control-label'}})}}

                                {{ form_errors(form.nomClt) }}
                                
                                <div class="col-sm-10">
                                    {{ form_widget(form.nomClt, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.raisSocClt, "Raison sociale", {'label_attr': {'class': 'col-sm-2 control-label'}})}}

                                {{ form_errors(form.raisSocClt) }}
                                
                                <div class="col-sm-10">
                                    {{ form_widget(form.raisSocClt, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.siegeClt, "Groupe", {'label_attr': {'class': 'col-sm-2 control-label'}})}}

                                {{ form_errors(form.siegeClt) }}
                                
                                <div class="col-sm-10">
                                    {{ form_widget(form.siegeClt, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.telClt, "Présentation", {'label_attr': {'class': 'col-sm-2 control-label'}})}}

                                {{ form_errors(form.telClt) }}
                                
                                <div class="col-sm-10">
                                    {{ form_widget(form.telClt, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.emailClt, "Présentation", {'label_attr': {'class': 'col-sm-2 control-label'}})}}

                                {{ form_errors(form.emailClt) }}
                                
                                <div class="col-sm-10">
                                    {{ form_widget(form.emailClt, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                        {{ form_rest(form) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-warning pull-right">Modifier</button>
                </div>
                  <!-- /.modal-footer -->
                {{ form_end(form) }}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /. Modal de modification d'un produit -->

{% endblock %}


    {% block javascripts %}
      

      <!-- Page-Level Demo Scripts - Tables - Use for reference -->
      <script>
          $( function() {
              $('#dataTable-cmd').DataTable( {
                  "language": {
                      "info": "Affichage _START_ à _END_ parmi les _TOTAL_ éléménts",
                      "infoEmpty": "Aucun client trouvé !",
                      "infoFiltered": "(Résultat parmi _MAX_ éléments) ",
                      "loadingRecords": "Veuillez patienter quelques instants !",
                      "lengthMenu": 'Afficher <select class="form-control">'+
                      '<option value="10">10</option>'+
                      '<option value="20">20</option>'+
                      '<option value="30">30</option>'+
                      '<option value="40">40</option>'+
                      '<option value="50">50</option>'+
                      '<option value="-1">Tous</option>'+
                      '</select> éléments',
                      "emptyTable": "Aucun client enregistré !",
                      "zeroRecords": "Aucun résultat trouvé !",
                      "search": "Rechercher :",
                      "paginate": {
                          "previous": "Précédant",
                          "next": "Suivant",
                          "first": "Premier page",
                          "last": "Dernière page"
                      }
                  }
              } );
          } );
          // tooltip demo
        $('.tooltip-cmd').tooltip({
            selector: "[data-toggle=tooltip]",
            container: "body"
        });
      </script>
        <!-- DataTables -->
        <script src="/backend/v2/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/backend/v2/plugins/datatables/dataTables.bootstrap.min.js"></script>
    {% endblock %}
