{% extends 'base.html.twig' %}

{% block title %}
    {{ coop.sigleCoop }}
{% endblock %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    
    <h1 class="page-header">
        <small class="font-weight-light">Informations sur la coopérative {{ coop.sigleCoop }}</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('homepage') }}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('liste_cooperatives') }}">Coopératives</a>
        </li>
        <li class="breadcrumb-item active">Coopérative {{ coop.sigleCoop }}</li>
    </ol>

    <!-- Content Row -->
    <div class="row">

        <div class="col-md-6">
            {% if sliders == null %}
                <img src="/frontend/img/bg-500x300.png" class="img-fluid rounded mb-3 mb-md-0" alt="Première image">
            {% else %}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for nb in 0..(sliders|length|number_format - 1) %}

                            {% if nb == 0 %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ nb }}" class="active"></li>
                            {% else %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ nb }}"></li>
                            {% endif %}

                        {% endfor %}
                        
                    </ol>
                    <div class="carousel-inner">
                        {% for slider in sliders %}
                            {% if slider.altImg == coop.nomCoop %}
                                <div class="carousel-item active" style="background-image: url('{{ slider.webPath }}')">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h4>{{ slider.altImg|capitalize }}</h4>
                                    </div>
                                </div>
                            {% else %}
                                <div class="carousel-item" style="background-image: url('{{ slider.webPath }}')">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ slider.altImg|capitalize }}</h5>
                                    </div>
                                </div>
                            {% endif %}
                                
                        {% endfor %}

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Précédant</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
    
            {% endif %}   
        </div>

        <div class="col-md-6">
            <h3>{{ coop.nomCoop }}</h3>
            <p>L'{{ coop.sigleCoop }} est membre de l'USCAEP depuis le {{ coop.dateAdhCoop|date('d/m/Y') }}.
                <br> Il est fait partie de coopératives du département de {{ coop.departement.nomDep }} et 
                est localisé dans le sous-préfecture de {{ coop.sPCoop }}.<br>
                <i class="fa fa-envelope"></i> {{ coop.bPCoop }} <i class="fa fa-phone"></i> {{ coop.contCoop }}
            </p>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">
        {% autoescape %}
            {{ coop.descCoop|raw }}
        {% endautoescape %}
    </div>

</div>
{% endblock %}
