{# Template pour l'affichage des informations d'un employer #}
{% extends 'CoreBundle::admin.html.twig' %}

{% block title %}
    {{ employe.prenomUser }} {{ employe.nomUser }}
{% endblock %}

{% block stylesheet %}
    
{% endblock %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Carte professionnelle
            <small>{{ employe.prenomUser }} {{ employe.nomUser }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('gest_platform_homepage') }}">
                    <i class="fa fa-dashboard"></i> Tableau de bord
                </a>
            </li>
            <li>
                <a href="{{ path('gest_platform_emp') }}">
                    <i class="fa fa-briefcase"></i> Employés
                </a>
            </li>
            <li class="active">
                <i class="ion ion-android-person"></i> {{ employe.prenomUser }} {{ employe.nomUser }}
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        

        <!-- Default box -->
        <div class="row">

            <div class="col-md-7">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-qrcode"></i> 
                            {% if employe.id <= 10 %}
                                00{{ employe.id }}/{{ employe.cooperative.id }}/COOP/PRS
                            {% else %}
                                0{{ employe.id }}/{{ employe.cooperative.id }}/COOP/PRS
                            {% endif %}
                        </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="ion ion-android-person"></i>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li>
                                    <a href="#" data-toggle="modal" data-target=".modEmp">
                                        <i class="fa fa-edit fa-fw"></i> Modifier l'employé
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-print fa-fw"></i> Imprimer cette carte
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-body">
                        <form class="form-inline">
                            <div class="col-md-5">
                                <img class="col-md-12 form-control-static" src="{{ employe.image.webPath }}" alt="{{ employe.image.altImg }}" width="120" height="150" />
                                
                                <br><br><br><br><br><br><br>
                                <b>Poste :</b>
                                <p class="form-control-static">{{ employe.posteUser }}</p>
                                <br>
                                <b>Sexe :</b>
                                <p class="form-control-static">
                                    {% if employe.sexeUser == 'M' %}
                                        Masculin
                                    {% else %}
                                        Feminin
                                    {% endif %}
                                </p>
                            
                            </div>
                            <div class="col-md-7">
                                
                                <b>{{ employe.prenomUser|upper }} {{ employe.nomUser }}</b>
                                <br><br>
                                <b>Date de naissance :</b>
                                <p class="form-control-static">{{ employe.dateNaisUser|date('d/m/Y') }}</p>
                                <br>
                                <b>Lieu de naissance :</b>
                                <p class="form-control-static">{{ employe.lieuNaisUser }}</p>
                                <br>
                                <b>Résidence :</b>
                                <p class="form-control-static">{{ employe.residUser }}</p>
                                <br>
                                <b>E-mail :</b>
                                <p class="form-control-static">{{ employe.email }}</p>
                                <br>
                                <b>Contact(s) :</b>
                                <p class="form-control-static">{{ employe.contUser }}</p>
                                

                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-4">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="ion ion-android-people"></i> Autres
                        </h3>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="{{ path('gest_platform_trans_add') }}">
                                    <i class="fa fa-tree"></i> Cacao
                                    <span class="label label-success pull-right">128</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('gest_platform_trans_add') }}">
                                    <i class="fa fa-tree"></i> Café
                                    <span class="label label-warning pull-right">25</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('gest_platform_trans_add') }}">
                                    <i class="fa fa-tree"></i> Hévéa
                                    <span class="label label-danger pull-right">10</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        
        </div>
        
    </section>
    <!-- /.content -->


    <!-- Modal d'ajout d'un employé -->
    <div class="modal fade modEmp example-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-user-plus"></i> Modifier l'employé
                    </h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formEmp) }}

                        {{ form_errors(formEmp) }}

                            <div class="form-group">
                                {{ form_label(formEmp.image, "Choisir la photo d'identité", {'label_attr': {'class': 'control-label'}})}}

                                {{ form_errors(formEmp.image) }}
                                
                                
                                <div class="form-group input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-image"></i></span>
                                    {{ form_widget(formEmp.image, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(formEmp.prenomUser, "Prénom(s) de l'employé", {'label_attr': {'class': 'control-label'}})}}

                                {% if form_errors(formEmp.prenomUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(form.prenomUser) }}</label>
                                      {{ form_widget(formEmp.prenomUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.prenomUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.nomUser, "Nom de l'employé", {'label_attr': {'class': 'control-label'}})}}

                                {% if form_errors(formEmp.nomUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.nomUser) }}</label>
                                      {{ form_widget(formEmp.nomUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.nomUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>


                            <div class="form-group">
                                {{ form_label(formEmp.dateNaisUser, "Date de naissance", {'label_attr': {'class': ' control-label'}})}}

                                {% if form_errors(formEmp.dateNaisUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.dateNaisUser) }}</label>
                                      {{ form_widget(formEmp.dateNaisUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.dateNaisUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.lieuNaisUser, "Lieu de naissance", {'label_attr': {'class': 'control-label'}})}}

                                {% if form_errors(formEmp.lieuNaisUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.lieuNaisUser) }}</label>
                                      {{ form_widget(formEmp.lieuNaisUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.lieuNaisUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.sexeUser, "Sexe", {'label_attr': {'class': 'control-label'}})}}

                                {% if form_errors(formEmp.sexeUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.sexeUser) }}</label>
                                      {{ form_widget(formEmp.sexeUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.sexeUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.nationUser, "Pays d'origine", {'label_attr': {'class': 'col-sm-2 control-label'}})}}

                                {% if form_errors(formEmp.nationUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.nationUser) }}</label>
                                      {{ form_widget(formEmp.nationUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.nationUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.posteUser, "Poste de responsabilité", {'label_attr': {'class': ' control-label'}})}}

                                {% if form_errors(formEmp.posteUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.posteUser) }}</label>
                                      {{ form_widget(formEmp.posteUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.posteUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.contUser, "Contact(s)", {'label_attr': {'class': ' control-label'}})}}

                                {% if form_errors(formEmp.contUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.contUser) }}</label>
                                      {{ form_widget(formEmp.contUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.contUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.email, "E-mail de l'employé", {'label_attr': {'class': ' control-label'}})}}

                                {% if form_errors(formEmp.email) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.email) }}</label>
                                      {{ form_widget(formEmp.email, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.email, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form_label(formEmp.residUser, "Résidence de l'employé", {'label_attr': {'class': ' control-label'}})}}

                                {% if form_errors(formEmp.residUser) != null %}
                                  <div class="form-group has-error">
                                      <label class="control-label">{{ form_errors(formEmp.residUser) }}</label>
                                      {{ form_widget(formEmp.residUser, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                {% else %}
                                    {{ form_widget(formEmp.residUser, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </div>

                        {{ form_rest(formEmp) }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-warning pull-right">Modifier</button>
                </div>
                  <!-- /.modal-footer -->
                {{ form_end(formEmp) }}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /. Modal d'ajout d'un employé -->

{% endblock %}

{% block javascripts %}
    
{% endblock %}
