{% extends 'CoreBundle::admin.html.twig' %}

{% block meta %}
    <meta name="description" content="Présentation et suppression du produit" />
    <meta name="keywords" content="{{ produit.nomPrd }}, suppression, supprimer" />
{% endblock %}

{% block title %}
    Supprimer
    {% if produit.nomPrd == 'palmier' or produit.nomPrd == 'plantain' %}
        {% if produit.nomPrd == 'palmier' %}
            {{ produit.nomPrd }}  à huile
        {% endif %}
        {% if produit.nomPrd == 'plantain' %}
            Banane {{ produit.nomPrd }}
        {% endif %}
    {% else %}
          {{ produit.nomPrd }}
    {% endif %}
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Informations sur 
                {% if produit.nomPrd == 'palmier' or produit.nomPrd == 'plantain' %}
                    {% if produit.nomPrd == 'palmier' %}
                        {{ produit.nomPrd }}  à huile
                    {% endif %}
                    {% if produit.nomPrd == 'plantain' %}
                        Banane {{ produit.nomPrd }}
                    {% endif %}
                {% else %}
                      {{ produit.nomPrd }}
                {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path('core_homepage') }}">
                    <i class="fa fa-desktop"></i> Tableau de bord
                </a>
            </li>
            <li>
                <a href="{{ path('core_produit') }}">
                    <span class="glyphicon glyphicon-gift"></span> Produits
                </a>
            </li>
            <li class="active">
                <span class="glyphicon glyphicon-trash"></span> Supprimer 
                {% if produit.nomPrd == 'palmier' or produit.nomPrd == 'plantain' %}
                    {% if produit.nomPrd == 'palmier' %}
                        {{ produit.nomPrd }}  à huile
                    {% endif %}
                    {% if produit.nomPrd == 'plantain' %}
                        Banane {{ produit.nomPrd }}
                    {% endif %}
                {% else %}
                      {{ produit.nomPrd }}
                {% endif %}
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="callout callout-danger">
            <h4><i class="fa fa-trash"></i> Suppression du produit</h4>

            <p>
                Cette opération est irréversible. Veuillez bien vérifier le produit afin d'être vraiment sûr avant de cliquer sur 
                <a href="#" data-toggle="modal" data-target="#suppPrd" class="alert-link">Supprimer</a> !
            </p>
        </div>

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Informations sur {{ produit.nomPrd}}</h3>
            </div>
            <div class="box-body">
                    {% if image != null %}
                        <img class="col-md-6" src="{{ image.webPath }}" alt="{{ image.altImg }}" />
                    {% endif %} 
                    
                    <div class="col-md-6">
                        Code du produit : 
                        {% if produit.id > 10 %}
                            0{{ produit.id }}/PNG
                        {% else %}
                            00{{ produit.id }}/PNG
                        {% endif %}<br>
                        Nom du produit : 
                        {% if produit.nomPrd == 'palmier' or produit.nomPrd == 'plantain' %}
                            {% if produit.nomPrd == 'palmier' %}
                                {{ produit.nomPrd }}  à huile
                            {% endif %}
                            {% if produit.nomPrd == 'plantain' %}
                                Banane {{ produit.nomPrd }}
                            {% endif %}
                        {% else %}
                              {{ produit.nomPrd }}
                        {% endif %}<br>
                        Domaine d'activités : {{ produit.domPrd }} <br>
                        Catégorie du produit : {{ produit.groupPrd }}<br>
                        Quantité : 30 unités

                        {% if image != null %}
                            {% autoescape %}
                                {{ image.descImg|raw }}
                            {% endautoescape %}
                        {% endif %}

                    </div><br>

                    <div class="col-md-12 tooltip-slider">
                        <h4>
                        {% if produit.nomPrd == 'palmier' or produit.nomPrd == 'plantain' %}
                            {% if produit.nomPrd == 'palmier' %}
                                {{ produit.nomPrd }}  à huile
                            {% endif %}
                            {% if produit.nomPrd == 'plantain' %}
                                Banane {{ produit.nomPrd }}
                            {% endif %}
                        {% else %}
                              {{ produit.nomPrd }}
                        {% endif %} : de la plantation à notre table</h4>
                        
                        {% for slider in sliders %}
                            
                            <img src="{{ slider.webPath }}" alt="{{ slider.altImg }}" title="{{ slider.altImg }}" data-toggle="tooltip" data-placement="top" class="col-md-2" />
                            
                        {% else %}
                            Aucun slider trouvé
                        {% endfor %}
                        <br><br>
                        <div class="col-md-12">
                            {% autoescape %}
                                {{ produit.presPrd|raw }}
                            {% endautoescape %}
                        </div>
                    </div>
                    
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->

    <!-- Modal -->
    <div class="modal fade modal-danger" id="suppPrd" tabindex="-1" role="dialog" aria-labelledby="suppPrd" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="suppPrd"> 
                        <span class="glyphicon glyphicon-question-sign"></span> Demande de suppression
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                            &Ecirc;tes-vous vraiment sûr de supprimer ce produit ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Non</button>
                            <button type="submit" class="btn btn-outline">Supprimer</button>
                        </div>
                        {{ form_rest(form) }}
                    </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- /. Modal d'ajout d'une image -->
    {% block javascripts %}
        <script type="text/javascript">
            // tooltip demo
            $('.tooltip-slider').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            });
        </script>
    {% endblock %}
{% endblock %}
